body {
  font-size: 13px;
  line-height: 1.7;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
}

ul {
    padding: 0;
}

h4 {
    font-size: initial;
    margin: 0;
}

a {
    color: #3A6ECA;
    outline: none;
}

a:hover {
    color: #285097;
    text-decoration: underline;
}

.right {
    text-align: right;
}

.pure-button {
    border-radius: 0;
}

a.pure-button:hover {
    color: #fff;
    text-decoration: none;
}

.button-success, .button-error, .button-warning, .button-secondary {
    color: #fff;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

select, input, .pure-form select, .pure-form input[type=text], .pure-form input[type=number] {
    border: 1px solid #ccc;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

form textarea {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 98%;
}

.pure-form select {
    width: 90%;
}

.hornav li {
    line-height: 1.5;
}

.input-append {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.pure-form .input-append input[type=number] {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 14px;
    float: none;
    margin-left: 0;
}

.input-append .add-on {
    display: inline-block;
    width: auto;
    white-space: nowrap;
    height: 22px;
    margin-left: -1px;
    margin-top: 3px;
    min-width: 16px;
    vertical-align: top;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}

.printOnly {
    display: none;
}

input[type='text'].ui-autocomplete-loading {
    background: url('loader.gif') no-repeat right center;
}

.error label, .error label.error{
    color: #E21E1E;
}

.error select.error, .error input.error, .error textarea.error {
    border: 1px solid #E21E1E;
    color: #E21E1E;
}

.error .help-inline {
    color: #E21E1E;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
    background-color: #777;
}

.label-primary {
    background-color: #428bca;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger, .label-important {
    background-color: #d9534f;
}

.label-inverse {
    background-color: #302F2F;
}

.label-publish, .badge-publish {
  background-color: #F5FA80;
  color: #DB6C06;
}

.grid-view .pager {
    margin-top: 10px;
}

ul.yiiPager {
    font-size: inherit;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

ul.yiiPager .first, ul.yiiPager .last {
    display: inline;
}

ul.yiiPager li {
    display: inline;
}

ul.yiiPager>li:first-child>a, ul.yiiPager>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul.yiiPager>li>a, ul.yiiPager>li>span {
    position: relative;
    float: left;
    padding: 10px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: solid 1px #dbdbdb;
    font-weight: bold;
    color: #0e509e;
    padding: 10px;
    text-decoration: none;
}

ul.yiiPager .selected a {
    background: #2e6ab1;
    color: #FFFFFF;
    font-weight: bold;
}

ul.yiiPager li a:hover {
    background-color: #DDEAFF;
}

h5 {
    font-size: inherit;
    margin: 0;
}

.logistica input[type=text]{
    width: 80px;
}

.imgresponsive {
  max-width: 100%;
  height: auto;
}

.ie img {
    width: inherit;  /* Make images fill their parent's space. Solves IE8. */
    max-width: 100%; /* Add !important if needed. */
    height: auto;    /* Add !important if needed. */
}

.decorationline {
    text-align:center;
    background: #fff url(../images/decoration.png) repeat-x center center;
}

.decorationline img {
    max-width: 150px;
    height: auto;
}

fieldset {
    border: none;
    border-top: 1px solid silver;
}

.pull-right {
    float: right;
}

.add-on-error {
    background-color: #EE1212 !important;
    color: #fff;
}
